/* <!------------ Fonts and font colors ------------> */
h1 {
  font: 400% "Merriweather", serif;
  color: #83ceec;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 300%;
    color: #845460;
  }

  #reviews h2,
  .review-text {
    font-size: 170%;
  }
}

h2 {
  line-height: 1.5;
}

h2:not(.review-text) {
  font-size: 250%;
}

/*h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

h2 {
  font-size: 300%;
}

p {
  font: 110% "Mulish", sans-serif;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 200%;
  }

  h4 {
    font-size: 140%;
    text-align: center;
  }
}

/* @media screen and (max-width: 320px) {
  h4 {
    font-size: 100%;
    text-align: center;
  }
}  */

/* <!------------ Background Colors and Sections ------------> */

#amenities,
#reviews,
#CTA,
#location,
#newsletter {
  padding: 7% 15%;
  text-align: center;
}

#reviews {
  padding-bottom: 10%;
}

#rooms,
#reviews,
#CTA,
#newsletter {
  background-color: #f7e9c2;
}

#rooms h2,
#CTA h2,
#newsletter h2 {
  color: #3c415c;
}

#amenities h2,
#location h4 {
  color: #845460;
}

body {
  background-color: #adbed2;
}

/* <!------------ Headings and Paragraphs ------------> */

/* .container-fluid h1,
.container-fluid h2 {
  margin: 2rem 0 4rem 0;
}

h1 + p,
h3 + p,
h4 + p,
.justify {
  line-height: 2rem;
}

h2 {
  text-align: center;
}  */

body {
  font-family: "Mulish", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 3rem;
}

#rooms {
  padding-top: 6rem;
}

.card-img-overlay > .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-dark {
  background-color: #5b3c94;
  font-size: 1.2rem;
}

.navbar-text {
  margin: auto 2.4rem;
}

.book-btn {
  background-color: rgb(145, 208, 183);
}

@media screen and (max-width: 320px) {
  .navbar-toggler,
  .book-btn {
    position: relative;
    left: 1rem;
  }

  .logo {
    padding-right: 1rem;
  }
}

.logo {
  position: absolute;
  z-index: 1000;
  left: 2%;
  top: 10%;
  width: 10%;
  min-width: 6.25rem;
}

footer a,
footer i,
footer a:hover {
  color: white;
}

footer div.row,
footer div.text-center {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 134.4%;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-text {
  width: 65%;
  position: relative;
  top: 14rem;
  left: 5rem;
}

.main-p {
  color: white;
  font-size: 110%;
  margin-top: 2rem;
  line-height: 1.8;
}

.main-p-small {
  color: black;
  font-size: 110%;
  margin-top: 2rem;
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  .overlay {
    height: 48%;
  }
}

@media screen and (max-width: 766px) {
  .main-text {
    width: 80%;
    top: 15%;
    left: 5%;
    background-color: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (width: 768px) {
  .main-text {
    width: 90%;
    top: 20%;
    left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .overlay {
    height: 50%;
  }
}

.amenity-image {
  border-radius: 8%;
  padding-top: 1rem;
  padding-right: 1rem;
  background: linear-gradient(#845460, #f7e9c2);
  background-size: 100% 95%;
  background-repeat: no-repeat;
  /* margin-right: 5rem;
  margin-left: 5rem; */
}

/* <!------------ Map Section ------------> */

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.reviews-img {
  width: 10%;
  border-radius: 50%;
  margin: 1.25rem;
}

.previous {
  margin-left: -13%;
}

.next {
  margin-right: -13%;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  filter: invert(1);
  background-color: #845460;
  border-radius: 50%;
}

.indicators {
  margin-bottom: -8%;
}

.indicators li {
  border-radius: 100%;
  height: 0.625rem;
  width: 0.625rem;
  margin: auto 0.6rem;
  background-color: #845460;
}

.pressImg {
  width: 20%;
  margin: 10% 5%;
}

#press {
  text-align: center;
}

.room-info {
  margin: 3.1rem auto 2.8rem 1rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
